<!-- ÁREAS DE ATUAÇÃO -->
<div id="services" class="cards-2">
	<div class="container">
		<div class="section-title"><h1>ÁREAS DE ATUAÇÃO</h1></div>
		<div class="cards-1">
            <div class="row">
                <div class="col-lg-4">
					
					
					<!-- Card -->
                    <div>
						<center>
                        <span class="fa-stack">
                            <span class="hexagon"></span></span>
                            <h4 class="card-title">Ginecologia Oncológica</h4>
                        </center>
                    </div>
                    <!-- end of card -->
					
					
					<!-- Card -->
                    <div>
						<center>
                        <span class="fa-stack">
                            <span class="hexagon-endometrio"></span></span>
                            <h4 class="card-title">Câncer de Endométrio</h4>
                        </center>
                    </div>
                    <!-- end of card -->
					
					<!-- Card -->
                    <div>
						<center>
                        <span class="fa-stack">
                            <span class="hexagon-ovario"></span></span>
                            <h4 class="card-title">Câncer de Ovário</h4>
                        </center>
                    </div>
                    <!-- end of card -->
					
					<!-- Card -->
                    <div>
						<center>
                        <span class="fa-stack">
                            <span class="hexagon-colo"></span></span>
                            <h4 class="card-title">Câncer de Colo Uterino</h4>
                        </center>
                    </div>
                    <!-- end of card -->
					
					<!-- Card -->
                    <div>
						<center>
                        <span class="fa-stack">
                            <span class="hexagon-vulva"></span></span>
                            <h4 class="card-title">Câncer de Vulva</h4>
                        </center>
                    </div>
                    <!-- end of card -->
									
				</div>
				<!-- 2a coluna -->
				<div class="col-lg-4">
					
					<!-- Card -->
                    <div>
						<center>
                        <span class="fa-stack">
                            <span class="hexagon-laparoscopia"></span></span>
                            <h4 class="card-title">Laparoscopia</h4>
                        </center>
                    </div>
                    <!-- end of card -->
					
					<!-- Card -->
                    <div>
						<center>
                        <span class="fa-stack">
                            <span class="hexagon-histeroscopia"></span></span>
                            <h4 class="card-title">Histeroscopia</h4>
                        </center>
                    </div>
                    <!-- end of card -->
					
					<!-- Card -->
                    <div>
						<center>
                        <span class="fa-stack">
                            <span class="hexagon-miomas"></span></span>
                            <h4 class="card-title">Miomas uterinos</h4>
                        </center>
                    </div>
                    <!-- end of card -->
					
					<!-- Card -->
                    <div>
						<center>
                        <span class="fa-stack">
                            <span class="hexagon-cisto-ovario"></span></span>
                            <h4 class="card-title">Cistos de Ovário</h4>
                        </center>
                    </div>
                    <!-- end of card -->
						
					<!-- Card -->
                    <div>
						<center>
                        <span class="fa-stack">
                            <span class="hexagon-diu"></span></span>
                            <h4 class="card-title">DIU</h4>
                        </center>
                    </div>
                    <!-- end of card -->
				</div>
				<!-- 3a coluna -->
				<div class="col-lg-4">			
					
					<!-- Card -->
                    <div>
						<center>
                        <span class="fa-stack">
                            <span class="hexagon-mulher"></span></span>
                            <h4 class="card-title">Saúde da Mulher</h4>
                        </center>
                    </div>
                    <!-- end of card -->
					
					<!-- Card -->
                    <div>
						<center>
                        <span class="fa-stack">
                            <span class="hexagon-rotina"></span></span>
                            <h4 class="card-title">Rotina Ginecológica</h4>
                        </center>
                    </div>
                    <!-- end of card -->
					
					<!-- Card -->
                    <div>
						<center>
                        <span class="fa-stack">
                            <span class="hexagon-trh"></span></span>
                            <h4 class="card-title">Reposição Hormonal</h4>
                        </center>
                    </div>
                    <!-- end of card -->
					
					<!-- Card -->
                    <div>
						<center>
                        <span class="fa-stack">
                            <span class="hexagon-pilula"></span></span>
                            <h4 class="card-title">Anticoncepção</h4>
                        </center>
                    </div>
                    <!-- end of card -->
					
					<!-- Card -->
                    <div>
						<center>
                        <span class="fa-stack">
                            <span class="hexagon-menopausa"></span></span>
                            <h4 class="card-title">Menopausa e Climatério</h4>
                        </center>
                    </div>
                    <!-- end of card -->
				
					
					
					
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div>	
	</div> <!-- end of container -->
</div>
    
