    <!-- CONSULTÓRIO -->
<div id="consultorio" class="cards-2">
		<div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">CONSULTÓRIO</div>
                </div> <!-- end of col -->
            </div> <!-- end of row -->
			<div class="row">
                <div class="col-lg-12">
					
                   	 
						<br>
</div>
					<div class="col-lg-6">						
  <div class="img-holder"><img src="/images/consultorio3.jpg" alt=""></div>
  <div class="img-holder"><img src="/images/consultorio4.jpg" alt=""></div>
  <div class="img-holder"><img src="/images/consultorio1.jpg" alt=""></div>
					</div>			
					<div class="col-lg-6">		
  <div class="img-holder"><img src="/images/consultorio2.jpg" alt=""></div>
  <div class="img-holder"><img src="/images/consultorio8.jpeg" alt=""></div>
  <div class="img-holder"><img src="/images/consultorio5.jpeg" alt=""></div>	
                	</div> <!-- end of col -->
            </div> <!-- end of row -->
                <div class="col-lg-12">
                    <!-- Filter -->
                    
                    
                    </div> <!-- end of grid -->
                    <!-- end of filter -->
                    
                </div> <!-- end of col -->
            </div> 
