<div id="intro" class="basic-1">
        <div class="container">
            <div class="row">
                <div class="col-lg-5">
                    <div class="text-container">
                        <div class="section-title">FORMAÇÃO E EXPERIÊNCIA</div>
						<br>
					  <p>Médica Colaboradora do Serviço de Ginecologia Oncológica do Instituto do Câncer do Estado de São Paulo (ICESP – USP).</p>
						<br>
						<p>Título Especialista em Ginecologia e Obstetrícia (TEGO) pela Federação Brasileira de Ginecologia e Obstetrícia (FEBRASGO).</p>
						<br>
                        <p>Residência Médica em Ginecologia Oncológica realizada no Instituto do Câncer do Estado de São Paulo (ICESP) - Departamento de Obstetrícia e Ginecologia da Faculdade de Medicina da Universidade de São Paulo (USP).</p>
						<br>
						<p>Residência Médica em Ginecologia e Obstetrícia pela Pontifícia Universidade Católica do Rio Grande do Sul (PUCRS).</p>
						<br>
					  <p>Graduação em Medicina pela Pontifícia Universidade Católica do Rio Grande do Sul (PUCRS).</p>
                    </div> <!-- end of text-container -->
                </div> <!-- end of col -->
				<div class="col-lg-7">
                    	<div class="card-image">
							<br>
                       	  <img src="/images/intro-office.png" alt="alternative" class="img-fluid">	
                    	</div> <!-- end of image-container -->
               	</div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div>  
